<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Southern Caribbean University</title>
    <link rel="stylesheet" href="/css/index.css">

    <script type="text/javascript">
          function togglemenu(){
              document.getElementById('sidebar').classList.toggle('active');
          }
    </script>
</head>
<body>
        <div id="sidebar" onclick="togglemenu()">
            <div class="toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <!-- <li><a href="#">  HOME </a></li> -->
                <li><a href="#">  STUDENT</a></li>
                <li><a href="#">  ADMIN</a></li>
                <li><a href="/register/signup">REGISTRATION </a></li>
            </ul>
        </div>

        <div class="Motto">
            <h1>EACH CHILD CAN <br>LEARN, <br>EACH ONE MUST</h1>
        </div>
</body>
</html>