<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/studentlogin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="return">
        <button><a href="/"><i class="fa fa-angle-double-left"></i> RETURN </a></button>
    </div>

      <form action="/rent/update" method="post" autocomplete="off">
          <h1><%= title  %></h1>
          <div class="container">
              <div class="name">
                  <label>BOOK STATUS:</label><br>
                  <input type="hidden" value="<%= book.id %>" name="id">
                  <input type="text" value="<%= book.status %>" name="status">
              </div>   
              <div class="btn">
                  <input type="submit" value="UPDATE"
              </div>          
          </div>
      </form>

      <script>
          function showPassword() {
                var x = document.getElementById("myInput");
                if (x.type === "password") {
                    x.type = "text";
                    document.getElementById('eyes').innerHTML = "hide";
                } else {
                    x.type = "password";
                    document.getElementById('eyes').innerHTML = "show";
                  }
           }
      </script>

</body>
</html>